body{
  /*background-color: silver;*/
  background: url("/imgs/military-intelligence.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
}